torch
torchvision
torchmetrics
lightning
typer
wandb
hydra-core
omegaconf
PyYAML
numpy
matplotlib
tqdm
Pillow
timm
dvc
dvc-gs
google
fastapi
uvicorn
python-multipart
google-cloud-storage
evidently==0.3.2
scikit-learn
pandas 
markdown 
pydantic 
loguru